@media only screen and (max-width: 600px){
  body{
    margin: 0;
    padding: 0;

  }
.container {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Hayao_Miyazaki_cropped_1_Hayao_Miyazaki_201211.jpg/800px-Hayao_Miyazaki_cropped_1_Hayao_Miyazaki_201211.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 700px;
    display: flex;
  }
  .name {
    color: black;
    display: flex;
    align-items: flex-end;
    
  }
  .name-text{
    background: rgba(160, 173, 191, 0.7);
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 0px 70px 0px 0px;
    font-size: 25px;
    margin: 0;
    padding-right: 50px;
    border-bottom: none;
  }
  .person-info{
    background: rgba(160, 173, 191, 0.7);
    border-left: 4px solid black;
    border-right: 4px solid black;
    padding: 20px;
    border-bottom: 4px solid black;

  }
  .person-info div{
    font-size: 25px;
    margin: 0;
    text-align: justify;
    margin-top: 10px;
    
  }
  .janku, .kumm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}